/** GLOBAL STYLE **/
body {
	font-family: 'Raleway', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-weight: 400
}

.default-hr {
  background-color: lightgray;
	width: 150px;
}

.img-centered {
    margin: 0 auto
}

/** NAV STYLE **/
.navbar {
	background-color: #222222;
	border: none;
	border-radius: 0;
	height: 71px;
}

.navbar-brand img {
	width: 48px;
	margin-top: -3px;
}

@media (min-width: 769px) {
    .navbar-brand img {
	margin-left: 105px;
	}
	.navbar-nav {
	margin-right: 85px;
	}
}

.navbar-toggle {
	margin-top: 20px;
	background-color: #fff;
}

.navbar-collapse {
	background-color: #222222;
	border: none;
}

.navbar-nav > li > a {
	color: #fff !important;
	font-family: 'Open Sans', sans-serif;
  	font-weight: 700 !important;
	font-size: 15px;
	text-transform: uppercase;
	padding-top: 25px;
  	position: relative;
}

.navbar-nav > li > a:hover {
  	color: #fff;
}

.navbar-nav > li > a:before {
  	content: "";
  	position: absolute;
  	width: 100%;
  	height: 2px;
  	bottom: 0;
  	left: 0;
  	background-color: #fff;
  	visibility: hidden;
  	-webkit-transform: scaleX(0);
  	transform: scaleX(0);
  	-webkit-transition: all 0.3s ease-in-out 0s;
  	transition: all 0.3s ease-in-out 0s;
}

.navbar-nav > li > a:hover:before {
  	visibility: visible;
  	-webkit-transform: scaleX(1);
  	transform: scaleX(1);
}

@media (max-width: 767px) {
  	.navbar-nav > li > a {
  		text-align: center;
  	}
}

/** PORTFOLIO STYLE **/
section {
    padding: 50px 0
}

section h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px
}

section h3.section-subheading {
    font-size: 16px;
    text-transform: none;
    font-weight: 400;
    margin-bottom: 75px
}

#portfolio .portfolio-item {
    margin: 0 0 15px;
    right: 0
}

#portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    max-width: 400px;
    margin: 0 auto
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
    background: rgba(36, 49, 89, .5);
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all ease .5s;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
    opacity: 1
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
    position: absolute;
    width: 100%;
    top: 27%;
    margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
    margin-top: -12px
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
    margin: 0
}

#portfolio .portfolio-item .portfolio-caption {
    max-width: 400px;
    margin: 0 auto;
    background-color: #f5f5f5;
    text-align: center;
    padding: 25px
}

#portfolio .portfolio-item .portfolio-caption h4 {
	text-transform: none;
    margin: 0
}

#portfolio .portfolio-item .portfolio-caption p {
    font-style: italic;
    font-size: 16px;
    margin: 0
}

#portfolio * {
    z-index: 2
}

@media (min-width:767px) {
    #portfolio .portfolio-item {
        margin: 0 0 30px
    }
}

/** MODAL STYLE **/
.portfolio-modal .modal-content {
    border-radius: 0;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0;
    min-height: 100%;
    padding: 50px 0;
    text-align: center
}

.portfolio-modal .modal-content h2 {
    margin-bottom: 15px;
    font-size: 3em
}

.portfolio-modal .modal-content p {
    margin-bottom: 30px
}

.portfolio-modal .modal-content .plugin-title {
    margin-bottom: 5px
}

.portfolio-modal .modal-content p.item-intro {
    margin: 20px 0 30px;
    font-style: italic;
    font-size: 16px
}

.portfolio-modal .modal-content ul.list-inline {
    margin-bottom: 30px;
    margin-top: 0
}

.portfolio-modal .modal-content img {
    margin-bottom: 30px
}

.portfolio-modal .close-modal {
    position: absolute;
    width: 75px;
    height: 75px;
    background-color: transparent;
    top: 25px;
    right: 25px;
    cursor: pointer
}

.portfolio-modal .close-modal:hover {
    opacity: .3
}

.portfolio-modal .close-modal .lr {
    height: 75px;
    width: 1px;
    margin-left: 35px;
    background-color: #243159;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    z-index: 1051
}

.portfolio-modal .close-modal .lr .rl {
    height: 75px;
    width: 1px;
    background-color: #243159;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    z-index: 1052
}

.portfolio-modal .modal-backdrop {
    opacity: 0;
    display: none
}

.btn-primary {
    color: #243159;
    background-color: transparent;
    border-color: #243159;
	border-radius: 0;
    text-transform: uppercase;
    font-weight: 700;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #243159;
    border-color: #243159
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-image: none
}

::-moz-selection {
    text-shadow: none;
    background: #243159
}

::selection {
    text-shadow: none;
    background: #243159
}

img::selection {
    background: 0 0
}

img::-moz-selection {
    background: 0 0
}

body {
    webkit-tap-highlight-color: #243159
}

/** FOOTER STYLE **/
#footer-section {
	background-color: #222222;
	padding-top: 50px;
	padding-bottom: 50px;
}

.custom-icon {
  color: #fff;
  background: #222222;
  border: #fff solid 2px;
  border-radius: 100%;
  font-size: 25px !important;
  text-align: center;
  width: 50px;
  height: 50px;
  padding: 10px;
  vertical-align: middle;
  display: table-cell;
  
}
.custom-icon:hover {
  background: #243159;
}
.fix-editor {
  display: none;
}
.icon-wrapper {
  display: inline-block;
}

.copyright {
	color: #fff;
	margin-top: 10px;
}